/*
 * -------------------------------------------------
 *  ILIFU cluster config file
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */

singularity {
   enabled = true
   cacheDir = "/cbio/users/jambler/images/"
}

process {
   container = "/cbio/users/jambler/images/bacterial_transcriptomics_latest-2021-01-20-96e0f38342ca.simg"
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'Main'
   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
}

executor {
   queueSize = "15"
}

params {
   max_memory = 256.GB
   max_cpus = 64
   max_time = 100.h
}
